.wrapper {}

.container,
.header {
    max-width: 1139px;
    margin: 0 auto;
}

.header {
    height: 114px;
    margin-top: 56px;
    /* position: relative; */
    /* margin-bottom: 156px; */
    /* margin-top: 26px; */
}

body {
    background: #001821;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    line-height: 1.42;
    font-family: "Open Sans";
    margin: 0;
}

.body__services {
    background-image: url(./img/services-background.png);
    background-color: #ffffff;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.logo,
.menu,
.menu__item {
    /* display: inline-block; */
}

.logo,
.menu,
.contacts {
    /* position: absolute; */
}

.logo {
    /* margin-right: 79px; */
    /* bottom: -58px; */
    /* left: 0; */
}

.menu {
    /* top: 47px; */
    /* left: 150px; */
    /* transform: translate(0%, -50%); */
    color: #FFFFFF;
    flex-shrink: 5;
    margin-right: 438px;
    margin-top: 14px;
    /* justify-self: flex-start; */
    /* display: flex; */
}

.menu__item {
    margin-right: 54px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
    /* text-decoration: none; */
}

.menu__item:last-child {
    margin-right: 0px;
    color: #FFFFFF;
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
}

.contacts {
    /* text-align: right; */
    /* right: 0px; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* align-content: flex-end; */
}

.contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
    text-decoration: none;
    /* margin-right: 40; */
}

.contacts__info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;
    /* margin-right: 57px; */
    align-items: center;
    text-decoration-line: underline;
    /* text-align: right; */
    color: #FFFFFF;
    /* margin-right: 17px; */
    display: flex;
    justify-content: flex-end;
}

.hello {
    margin-bottom: 215px;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 27px;
    color: #FFFFFF;
    width: 511px;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.button {
    background: #F5170E;
    padding: 18px 39px;
    border-radius: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 19px;
    font-style: normal;
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}

.offers {
    margin-bottom: 168px;
}

.offers__list {
    padding: 0;
    display: flex;
    list-style-type: none;
    /* width: 100%; */
    /* padding: 0; */
    justify-content: space-between;
    font-size: 16px;
}

.title--fire {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
    background: url(./img/flame.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 310px;
}

.offers__item {
    min-height: 437px;
    background: #FFFFFF;
    border-radius: 4px;
    /* display: inline-block; */
    margin-right: 10px;
    width: 362px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 162px;
    margin-bottom: 28px;
}

.offers__content {
    padding: 26px 24px;
    color: #303030;
}

.offers__feauture-icon {
    /* width: 36px; */
    /* height: 26px; */
}

.offers__title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 27px;
}

.offers__content {
    padding: 25px 26px;
}

.offers__features div {
    /* display: inline; */
    /* vertical-align: middle; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 17px;
}

.offers__features img {
    /* vertical-align: middle; */
    margin-right: 9;
}

.offers__feauture {
    margin-right: 12px;
}

.offers__features {
    display: flex;
    /* align-items: center; */
    /* height: 100%; */
    margin-bottom: 21px;
    justify-content: flex-start;
}

.offers__text {
    margin-bottom: 44px;
    font-size: 14px;
}

.button--light--light {
    background-color: #FFFFFF;
    color: #F5170E;
    border-color: #F5170E;
    border: 1px solid;
    border-radius: 35px;
    /* max-height: 135; */
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 74px;
}

.news {
    margin-bottom: 146px;
}

.news__item {
    width: 557px;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* position: relative; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-evenly; */
    position: relative;
}

.news__img {
    border-radius: 5px;
    object-fit: cover;
    /* display: flex; */
}

.news__list {
    margin: 0;
    padding: 0;
    margin-bottom: 49px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 31px;
    min-height: 140px;
    /* display: flex; */
}

.news__data {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
}

.news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5px;
}

.news__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* list-style-type: none; */
    /* flex-wrap: wrap; */
}

.pagination__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.pagination__info {
    margin-right: 15px;
}



.pagination__link {
    height: 32px;
    width: 32px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    /* list-style-type: none; */
}

.about-us__content {
    position: absolute;
    top: -4px;
    padding: 85px;
    color: #060606;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}

.title--dark {
    color: #060606;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-top: 0px;
}

.pagination__item--active {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #FFF;
    /* list-style-type: none; */
}

.pagination__item {
    width: 31px;
}

.pagination__link--active {
    color: #F5170E;
    text-decoration: none;
    font-weight: bold;
}

.pagination--light a {
    color: #000;
}

.pagination--light .pagination__info {
    color: #000;
}

.pagination--light .pagination__item--active {
    border-radius: 50%;
    width: 34px;
    background: #F5170E;
}

.pagination--light .pagination__item--active a {
    color: #FFF;
}

.pagination--light {
    margin-bottom: 79px;
}


.about-us {
    position: relative;
    margin-bottom: 63px;
}

.about-us__container {
    position: absolute;
    top: 0;
    right: 0;
    /* left: 0; */
    top: 102px;
}

.about-us__text p {
    margin-bottom: 70px;
    margin-top: 24px;
}

.line-img {
    margin-bottom: 40px;
    margin-left: -9px;
    display: flex;
    justify-content: center;
}

.footer {
    /* position: relative; */
}

.logo__footer {}

.logo__footer,
.menu-footer,
.menu-footer__item,
.socials__item,
.contacts-footer {
    /* display: inline-block; */
}

.logo__footer,
.menu-footer,
.menu-footer__item,
.socials__item,
.socials,
.contacts-footer {
    /* display: inline-block; */
}

.menu-footer__link {
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-footer {
    /* text-align: right; */
    /* right: 0; */
    /* position: absolute; */
    /* right: -11px; */
}

.socials {
    /* right: 270px; */
    /* position: absolute; */
    /* top: -24px; */
}

.menu-footer__item {
    margin-right: 54;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.menu-footer {
    /* position: absolute; */
    /* left: 123px; */
    /* bottom: 1; */
    /* margin-left: 33px; */
}

.socials__list .menu-footer__list {
    margin: 0;
    padding: 0;
}

.socials__item {
    margin-right: 14;
}

.contacts-footer__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;

}

.contacts-footer {
    /* top: -30px; */
}

.contacts-footer__info {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 32px;
    color: #9A9A9A;
}

.contacts-footer__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.services__item {
    display: flex;
    justify-content: space-between;
}

.services-img {
    max-width: 460px;
}

.services__content {
    max-width: 616px;
}

.services__text {
    margin-bottom: 50px;
    color: #303030;
}

.services__button {
    background: #F5170E;
    padding: 18px 39px;
    border-radius: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 19px;
    font-style: normal;
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;

}

.services__button--light {
    background-color: #FFFFFF;
    color: #F5170E;
    border-color: #F5170E;
    border: 1px solid;
    border-radius: 35px;
}

.services {
    /* background-color: #F2F2F2; */
    margin-top: 369px;
}

.services__item {
    margin-bottom: 56px;
}

.partners__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners__picture {
    /* margin-right: 23px; */
    margin-bottom: 63px;
    max-width: 240px;
    width: 100%;
    height: 90%;
}

.header--servises {
    /* margin-bottom: 241px; */
    /* margin-top: 56; */
}

.partners {
    background-color: #F4F5F5;
    min-height: 537px;
    display: flex;
}

.partners__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: flex-end;
    color: #1A1B1E;
    margin-top: 57px;
}

.services__title {
    color: 000000;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.menu__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.servisestitle__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
}

.breadcrumb__start {
    margin-right: 10px;
    color: #FFFFFF;
}

.breadcrumb {
    display: flex;
    list-style-type: none;
}

.separator {
    margin-right: 9;
}

.breadcrumb__start a {
    color: #ffffff;
}

.footer {
    background-color: #001821;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 11143px; */
    /* max-width: 1168px; */
    width: 100%;
}

.menu-footer__list {
    display: flex;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.socials__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 4;
}

.footer {
    height: 137px;
    display: flex;
}

.about-us .container {
    position: relative;
}

.hello-container {
    background-image: url(./img/bg-hello.png);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hello-user {
    display: flex;
    flex-direction: column;
}

.img-logo {
    position: absolute;
    top: 66px;
    right: 153px;
}

.hello-botton {
    margin-top: 30px;
}

.hellotitle {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    position: absolute;
    top: 170px;
    right: 211px;
    display: flex;
    justify-content: center;
    /* bottom: 1119px; */
}

.hello-container .button {
    margin-left: 216px;
}

.hello-user {
    opacity: 0;
    animation: my-animation .9s ease-in forwards;
}

@-webkit-keyframes my-animation {
    from {
        transform: scale(.7)
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    
    80% {
        transform: scale(0.95);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    
    }
}

 /* reviews css */

.reviewstitle__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
}

.img-couple {

}

.choice {
background-image: url(./img/couple-bg.png);
}

.choice-container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto;
    justify-content: space-between;
}

.choice-title {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
margin-top: 100px;
}

.reviews__container {
    max-width: 1168px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 45px;
}

.reviews__item {
    background-color: #F4F5F5;
    display: flex;
}

.reviews__items {
    display: flex;
}

.reviews {
    margin-top: 365px;
}

.reviews__items-column-one {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

.reviews__item-column-two {
    display: flex;
    flex-direction: column;
}

.reviews__item--one {
    width: 557px;
    height: 542px;
    margin-bottom: 18px;
}

.reviews__item--two {
    width: 557px;
    height: 542px;
}

.reviews__item--three {
    width: 557px;
    height: 691px;
    margin-bottom: 18px;
}

.reviews__item--four {
    width: 557px;
    height: 583px;
}

.reviews__name {
    color: #1A1B1E;

}

.reviews__title {
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 42px;
color:
#1A1B1E;
}

.reviews__content {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #818181;
}

.reviews__data {
color: #1A1B1E;
font-weight: 600;
font-size: 14px;
line-height: 27px;
}


.comment {
    background-color: #F4F5F5;
    height: 799px;
}

.comment__title {
    color: #1A1B1E;
    font-weight: bold;
font-size: 48px;
line-height: 65px;
margin: 0 auto;
padding-top: 50;
}


.comment__header {
    display: flex;
    justify-content: space-between;
    margin-top: 40;
}

.comment__name-one input {
    width: 557px;
    height: 65px;
    border: 1px solid #f90000;
    border-radius: 5px;
    padding-left: 20px;
}

.comment__name-two input {
    width: 557px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 20px;
}

.comment__name input {
    width: 1139px;
    height: 235px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-bottom: 177px;
    padding-left: 20px;
}

.comment__text {
    margin-top: 28px;
}

.comment__faq {
    color: #1A1B1E;
    font-size: 18px;
    line-height: 25px;
    margin-right: 0px;
    width: 532px;
}

.comment__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    margin-top: 20;
}

.comment__button {
    margin-left: 802px;
}

.reviews__button {
    background: #E7E7E7;
    padding: 9px 20px;
    border-radius: 35px;
    color: #303030;
    line-height: 18px;
    font-style: normal;
    text-decoration-line: none;
    font-size: 13px;
    margin: 3px;
}

.comment__tags {
    display: flex;
    flex-wrap: wrap;
}

.reviews__button--green {
background: #B9EAE4;
}

.button--black {
    background: #2B2B2B;
    margin-right: 12px;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.reviews__header {
    flex-wrap: wrap;
    display: flex;
}

.reviews__icon {
    margin-left: 50px;
    margin-top: 30;
}

.reviews__icon--socials {
    height: 30px;
    width: 30;
    margin-top: 94px;
    margin-left: 7px;
}

.reviews__name {
    font-size: 24px;
    line-height: 42px;
    font-weight: bold;
    margin-top: 88px;
    margin-left: 25px;
}

.reviews__title {
    padding: 31px;
    margin-top: 12px;
    margin-bottom: -40px;
}

.reviews__text {
    padding: 32px;
    margin: 0;
    font-size: 16px;
line-height: 27px;
}

.reviews__header .reviews__button {
    margin-left: 212px;
    margin-top: -39px;
    background: #B9EAE4;
}

.reviews__data {
    margin-left: 34px;
    margin-top: 8px;
}
